.question{
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 30px;
    border-radius: 5px;
}

.edit-button {
    color: blue;
    margin-right: 10px; /* Adds space between Edit and Delete buttons */
  }
  
  .delete-button {
    color: red;
  }